.venv/
.idea/
.git/
__pycache__/
*.pyc

.env
.env.*

chroma_storage/
data/
font/
current_analysis/

source/
key_player.py
recorded_keys.txt
run_key_player.bat
requirements-key_player.txt
gen_image.py
gen_image2.py
imageapi.py
apitest.py
chroma-test.py
tavily-test.py
get_api_new_lib.py
gemini_embedding.py
music_energy.py
upscale.py
examples.py

temp_video.mp4
boatyTEMP_MPY_wvf_snd.mp4
generated.wav
*.jpg
*.jpeg
